<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.39.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.min.css" />
    <link rel="stylesheet" href="styles/main.css">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/fonts/Material-Design-Icons.woff" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/fonts/RobotoDraftItalic.woff" />
  </head>

  <body>
    <div data-ng-app="StarterApp">
      <div data-ng-controller="AppCtrl">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                      <th>#</th>
                      <th>File Name</th>
                      <th>Public URL</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr data-ng-repeat="file in files">
                    <td>{{$index+1}}</td>
                    <td>{{file.Key}}</td>
                    <td>{{url}}{{file.Key}}</td>
                    <td><a class="btn btn-primary btn-sm" data-ng-click="getTranscript(url+file.Key)">Transcribe</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
          <!-- file upload area -->
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <span class="pull-right">
                <button data-ng-click="uploadFile()" class="btn btn-primary">Upload</button>
              </span>
              <span class="pull-right btn btn-primary btn-file">
                Browse <input type="file" id="file-chooser" />
              </span>
              <div class="transcription">{{transcription}}</div>
            </div>
          </div>
          
          <!-- account data -->
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="account_data"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>
    
    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect();

      socket.on('data', function (data) {
        console.log(data); 
        $(".account_data").text(data);
      });
    </script>
    
    <!-- custom js -->
    <script src="js/custom.js"></script>

  </body>
</html>